# Conda environment for snATAC-Express

python=3.8
numpy
pandas
scipy
scikit-learn>=1.0.0
xgboost
lightgbm
pyyaml
jupyter
matplotlib>=3.4.0
seaborn>=0.11.0
statsmodels>=0.13.0
h5py>=3.6.0
typing-extensions>=4.0.0
